<div>
    <h1>Restaurar contraseña</h1>
    <form id="restaurar" >
        <label>Correo electronico</label>
        <input name="email">
        <br/>

        <label>Nueva contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
<script src="/js/restartpassword.js"></script>